body{
    /* background: rgba(255, 255, 255, 0.3); */
    /* background: #f5f5f5; */
    background: red;
  
  }


.form-check input[type="checkbox"]:checked  {

  box-shadow: 0px 0px 0px .5px #888;



  background-color: rgb(160, 30, 211);
  

  
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: rgb(160, 30, 211);
  

}

.ant-table-thead .ant-table-cell {
  background-color: rgba(239,233,251,255);
}

.form-label:after {
  content:"*";
  color:red;
}

form .form-label{
 font-weight:bolder; 
}

.tick-shadow{

  border-radius: 50%;
  box-shadow: 0 0 50px rgba(168, 168, 168, 0.315);
}